body {
    background-color: #1c1a24;
    color: #fff;
    min-width: 200px;
}

input[type="checkbox"] {
    margin: 0;
}

input[type="text"] {
    padding: 0;
    border: 0;
}

.discount-range {
    white-space: nowrap;
}

.range-label {
    margin: 0 10px;
}

.input-range-field {
    width: 30px;
}