body {
    font-family: Arial, sans-serif;
    background-color: #1c1a24;
    color: #fff;
    min-width: 200px;
}

h2 {
    font-size: 1.4em;
}

input[type="number"] {
    width: 50px;
}

.row {
    white-space: nowrap;
}

.range-label {
    margin: 0 10px;
}

.apply-filter-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#apply-filter {
    background-color: #3ab04f;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}